<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr app-ligne
      id="1"
      username="eric"
      email="eric@mail.com"></tr> -->


      <!-- <tr app-ligne
      [id]="users[1].id"
      [username]="users[1].username"
      [email]="users[1].email"></tr>

      <tr app-ligne
      [id]="users[2].id"
      [username]="users[2].username"
      [email]="users[2].email"></tr> -->


      <tr app-ligne
      *ngFor="let user of users"
      [id]="user.id"
      [username]="user.username"
      [email]="user.email"></tr>
      
    </tbody>
  </table>